.basket

	h4
		| Корзина

	// table

	table

		tr
			td
				| Название
			td
				| Сторона
			td
				| Стоимость
			td
				| Срок аренды
			td

		tr
			td
				| Баннер №34
			td
				| Внешняя сторона
			td
				| 6000
			td
				| 1 мес.
			td
				a(href="#" title="")
					| Удалить

		tr
			td
				| Баннер №36
			td
				| Внутренняя сторона
			td
				| 6000
			td
				| 1 мес.
			td
				a(href="#" title="")
					| Удалить

	// detail

	.card__detail
		span
			| Итого: % руб.
		p
			| стоимость с учетом скидки
		button.card__detail__buy
			| Купить