doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="theme-color" content="#0095e6")
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")  
    link(rel="icon" type="image/png" href="../img/favicons/16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="../img/favicons/32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="../img/favicons/96x96.png" sizes="96x96")
    title m2media | Личный кабинет
    link(rel='stylesheet', href='../styles/bootstrap.css')
    link(rel='stylesheet', href='../styles/jquery.fancybox.min.css')
    link(rel='stylesheet', href='../styles/normalize.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // left side

    include ../blocks/block-left-side/left-side.pug

    //  card

    include ../blocks/block-card/card.pug

    // map

    include ../blocks/block-map/map.pug

    // popups

    include ../blocks/block-popups/popups.pug

    // scripts

    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDshpMx0Ic1L6FIp5fJNYxFTQimPncowmY&callback=initMap"
  type="text/javascript")
    script(src='../js/jquery-3.2.1.min.js')
    script(src='../js/jquery.bpopup.min.js')
    script(src='../js/jquery.fancybox.min.js')
    script(src='../js/scripts.js')

    // / scripts