.left-side

	.for-logo

		// logo
		a.logo(href="#" title="")
			| М2Медиа

		// title page
		h2
			| Личный кабинет

	// links

	.left-side__links
		ul
			li
				a(href="#" title="")
					| Личный данные
			li
				a(href="#" title="")
					| Отчетность

	.small-basket
		a(href="#" title="")
			| Оплатить
			span
				| (2)